:root {
    --color-white:#ffffff;
    --color-accent:#2196F3;
    --color-grey:#F5F4FA;
    --color-footer:#2F303A;
    --color-title:#212121;
    --color-text:#757575;
    --color-black:#000000;
    --color-rgba:rgba(255, 255, 255, 0.6);
    --color-borders: #EEEEEE;
    --color-line: #ECECEC;
    --color-icon: #AFB1B8;
    }
html {
    box-sizing: border-box;
}
body {
    background-color: var(--color-white);
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

button {
    font-family: inherit;
    cursor: pointer;
    border-color: transparent;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
   font-style: inherit; 
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    font-family: inherit;
}

label {
    margin-right: 12px;
}
/*:hover, :focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.section {
    margin-left: auto;
    margin-right: auto;
    padding: 94px 0px;
}    
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0px 15px;
    /*outline: 0.2px solid black;*/
}
.page-header {
/*    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99999; */   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-line);
 
}
.list {
    display:flex ;
}
.page-poster {
    display: flex;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    /* Overlay */
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url('../images/Main-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-employ {
    padding-top:0;
}
.page-footer{
    padding: 60px 0px;
    
}
.poster {
    width: 696px;
    padding: 0;
}
.title {
    margin:0;
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
.icon { margin: 0;}
.link .icon {
  margin-right: 10px;
}
/* Select */
.main-nav, .nav-site {
    display: flex;
    align-items: center;
}
.select-nav,
.select-contackt,
.select-features,
.select-employ,
.select-team,
.select-client,
.select-projeckt,
.select-social,
.select-button {
    align-items: center;
    justify-content: center;
}
.select-features {
    align-items: flex-start;
}
.select-features,
.select-employ,
.select-team,
.select-client,
.select-projeckt {
    flex-wrap: wrap;
    gap: 30px;
}

.select-team .item,
.select-features .item {
    flex-basis: calc((100% - 90px)/4);
}
.select-employ .item,.select-projeckt .item {
    flex-basis: calc((100% - 60px)/3);
}
.select-client .item{
    flex-basis: calc((100% - 150px)/6);
}
.select-button {
    margin-bottom: 50px;
}
.select-social {
    margin-bottom: 30px;
}
.footer-social .select-social {
    margin-bottom: 0;
}

.select-contackt {
  margin-left: auto;
}
.select-nav .link, .select-contackt .link-cont{
    padding-top: 32px;
    padding-bottom: 32px;    
}
.select-nav .item:not(:last-child),
.select-contackt .item:not(:last-child) {
    margin-right: 50px;
}

.select-button .item:not(:last-child) {
    margin-right: 8px;
}



/* Card*/
.card-features {
    width: 270px;
}
.card-team {
    background-color: var(--color-white);
    width: 270px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-projeckt {
    display: block; 
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
}
.card-projeckt:hover,
.card-projeckt:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: transparent;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.card-image {
    margin-bottom: 30px;
}
.card-projeckt .card-image,
.card-employ .card-image {
    margin-bottom: 0;
}
.card-employ {
    position: relative;
    z-index: 1;
}
.thumb-project {
    position: relative;
    overflow: hidden;
}
/* Title */
.page-poster .title {
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page-team .title,
.page-employ .title, .page-client .title {
    text-align: center;
    margin-bottom: 50px;
}
.footer-social .title, .footer-conect .title{
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.card-features .title {
    font-size: 14px;
    line-height: 1.14;
}
.card-team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  
}

.card-projeckt .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card-features .title, .card-team .title, .card-projeckt .title {
     margin-bottom: 10px;
}
.title-none {
    position: absolute;
    white-space: nowrap;
    margin: -1px;   
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

.title-text {
    display: block;
    width: 370px;
    background: var(--color-white);
    border: 1px solid var(--color-borders);
    border-top: none;
    padding: 20px 24px;
}
.card-text {
    margin: 0;
    margin-bottom: 16px;
}
.card-employ .card-text {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Logo */
.logo-main {
    margin-right: 93px;
    text-decoration: none;
    color: var(--color-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-color {
    color: var(--color-accent);
}
.logo-main:focus, .logo-footer:focus {
/*    outline: 1px solid var(--color-borders);*/
    outline: transparent;
}

/* Link */
.link {
    display: flex;
    text-decoration: none;
    color:var(--color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor
}
 
.select-contackt .link {
    color: var(--color-text);    
}
.link:hover, .link:focus {
    color: var(--color-accent);
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
}
.link-client {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--color-icon);
}
.link-client:hover, .link-client:focus {
    border: 1px solid var(--color-accent);
    fill:var(--color-accent);   
    outline: transparent;
    transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link-social {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--color-icon);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .link-social {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
}
.link-social:hover,
.link-social:focus {
    background-color: var(--color-accent);
    fill: var(--color-white);
    outline: transparent;
    transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
; 
}

/* Primary, Secondary, Current*/
.primary {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-grey);
    color: var(--color-title);
}
.current {
    color: var(--color-accent);
    position: relative;
}
.link.current::after {
    position: absolute;
    bottom: -1px; 
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
}
.text-project {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .card-projeckt:hover .text-project,
.item .card-projeckt:focus .text-project {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/* Button*/
.button-main {
    width: 216px;
    padding: 10px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.button-link {    
    min-width: 73px;
    max-width: 130px;
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
}
.button-link:hover, .button-link:focus, .button-main:hover,
.button-main:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
    outline: transparent;
    transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-link:hover,
.button-link:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-main:hover,
.button-main:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-submit{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;

    background-color: var(--color-accent);
    color: var(--color-white);
    fill:currentColor;
    border-radius: 4px;
}
.footer-submit:hover,
.footer-conect:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-team {
     background-color: var(--color-grey); 
}

.icon-features {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}


/* Footer */
.page-footer {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.page-footer .container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.footer-conect {
    padding: 0;
    margin-left: 23px;
}
.logo-footer {
    display: block;
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.logo-color {
    color: var(--color-accent);
}
.page-footer, .address-footer, .link-footer {
    color: var(--color-rgba);
    font-style: normal;
}
.address-footer, .link-footer, .footer-social{
    margin: 0;
    text-decoration: none;
    }
 .footer-input {
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;      
    color: rgba(255, 255, 255, 0.6);
      
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px
 }
/*
.footer-one {
    border: 1px solid #AFB1B8;
}
.footer-social {
   border: 1px solid #AFB1B8; 
}
*/

.footer-contackt .item:not(:last-child) {
    margin-bottom: 9px;
}
.select-social .item:not(:last-child) {
    margin-right: 10px;
}
.link-footer:hover, .link-footer:focus {
    color: var(--color-white);
    text-decoration: none;
    outline: transparent;
} 
.primary-footer {
    color: var(--color-white)
}
/* Modal-wind */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    z-index: 99999;   
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-white);

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
