:root {
    --color-white: #ffffff;
    --color-accent: #2196F3;
    --color-grey: #F5F4FA;
    --color-footer: #2F303A;
    --color-title: #212121;
    --color-text: #757575;
    --color-black: #000000;
    --color-rgba: rgba(255, 255, 255, 0.6);
    --color-borders: #EEEEEE;
    --color-line: #ECECEC;
    --color-icon: #AFB1B8;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
    cursor: pointer;
    border-color: transparent;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding: 94px 0px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0px 15px;
    /*outline: 0.2px solid black;*/
}

.page__header {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-line);

}

.list {
    display: flex;
}

.page__poster {
    display: flex;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    /* Overlay */
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/Main-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page__employ {
    padding-top: 0;
}

.page__footer {
    padding: 60px 0px;

}

.poster {
    width: 696px;
    padding: 0;
}

.title {
    margin: 0;
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text);
}

.icon {
    margin: 0;
}

.link .icon {
    margin-right: 10px;
}

/* Select */
.main__nav,
.nav__site {
    display: flex;
    align-items: center;
}

.select__nav,
.select__contackt,
.select__features,
.select__employ,
.select__team,
.select__client,
.select__projeckt,
.select__social,
.select__button {
    align-items: center;
    justify-content: center;
}

.select__features {
    align-items: flex-start;
}

.select__features,
.select__employ,
.select__team,
.select__client,
.select__projeckt {
    flex-wrap: wrap;
    gap: 30px;
}

.select__team .item,
.select__features .item {
    flex-basis: calc((100% - 90px)/4);
}

.select__employ .item,
.select__projeckt .item {
    flex-basis: calc((100% - 60px)/3);
}

.select__client .item {
    flex-basis: calc((100% - 150px)/6);
}

.select__button {
    margin-bottom: 50px;
}

.select__social {
    margin-bottom: 30px;
}

.footer__social .select__social {
    margin-bottom: 0;
}

.select__contackt {
    margin-left: auto;
}

.select__nav .link,
.select__contackt .link__cont {
    padding-top: 32px;
    padding-bottom: 32px;
}

.select__nav .item:not(:last-child),
.select__contackt .item:not(:last-child) {
    margin-right: 50px;
}

.select__button .item:not(:last-child) {
    margin-right: 8px;
}



/* Card*/
.card__features {
    width: 270px;
}

.card__team {
    background-color: var(--color-white);
    width: 270px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card__projeckt {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__projeckt:hover,
.card__projeckt:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: transparent;
}

.card__image {
    margin-bottom: 30px;
}

.card__projeckt .card__image,
.card__employ .card__image {
    margin-bottom: 0;
}

.card__employ {
    position: relative;
    z-index: 1;
}

.thumb__project {
    position: relative;
    overflow: hidden;
}

/* Title */
.page__poster .title {
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page__team .title,
.page__employ .title,
.page__client .title {
    text-align: center;
    margin-bottom: 50px;
}

.footer__social .title {
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card__features .title {
    font-size: 14px;
    line-height: 1.14;
}

.card__team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card__projeckt .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__features .title,
.card__team .title,
.card__projeckt .title {
    margin-bottom: 10px;
}

.title__none {
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

.title__text {
    display: block;
    width: 370px;
    background: var(--color-white);
    border: 1px solid var(--color-borders);
    border-top: none;
    padding: 20px 24px;
}

.card__text {
    margin: 0;
    margin-bottom: 16px;
}

.card__employ .card__text {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo */
.logo__main {
    margin-right: 93px;
    text-decoration: none;
    color: var(--color-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo__color {
    color: var(--color-accent);
}

.logo__main:focus,
.logo__footer:focus {
    /*    outline: 1px solid var(--color-borders);*/
    outline: transparent;
}

/* Link */
.link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: var(--color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select__contackt .link {
    color: var(--color-text);
}

.link:hover,
.link:focus {
    color: var(--color-accent);
    outline: transparent;
}

.select__nav .link:hover::after,
.select__nav .link:focus::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
    outline: transparent;
}

.link__client {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--color-icon);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__client:hover,
.link__client:focus {
    border: 1px solid var(--color-accent);
    fill: var(--color-accent);
    outline: transparent;
}

.link__social {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--color-icon);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social .link__social {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
}

.link__social:hover,
.link__social:focus {
    background-color: var(--color-accent);
    fill: var(--color-white);
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

/* Primary, Secondary, Current*/
.primary {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-grey);
    color: var(--color-title);
}

.current {
    color: var(--color-accent);
    /*    position: relative; */
}

.link.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
}

.text__project {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .card__projeckt:hover .text__project,
.item .card__projeckt:focus .text__project {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* Button*/
.button__main {
    width: 216px;
    padding: 10px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__link {
    min-width: 73px;
    max-width: 130px;
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__link:hover,
.button__link:focus,
.button__main:hover,
.button__main:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
    outline: transparent;

}

.button__link:hover,
.button__link:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__main:hover,
.button__main:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    flex-wrap: wrap;
    gap: 10px;

    background-color: var(--color-accent);
    color: var(--color-white);
    fill: currentColor;
    border-radius: 4px;
    cursor: pointer;
}

.footer__submit:hover,
.footer__conect:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page__team {
    background-color: var(--color-grey);
}

.icon__features {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}


/* Footer */
.page__footer {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.page__footer .container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.footer__conect {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin-left: 23px;
}

.footer__send {
    display: flex;
    flex-direction: column;
}
.logo__footer {
    display: block;
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.logo__color {
    color: var(--color-accent);
}

.page__footer,
.address__footer,
.link__footer {
    color: var(--color-rgba);
    font-style: normal;
}

.address__footer,
.link__footer,
.footer__social {
    margin: 0;
    text-decoration: none;
}
.footer__send label {
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.footer__input {
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.footer__input:hover,
.footer__input:focus {
    border: 1px solid var(--color-accent);

}
.footer__contackt .item:not(:last-child) {
    margin-bottom: 9px;
}

.select__social .item:not(:last-child) {
    margin-right: 10px;
}

.link__footer:hover,
.link__footer:focus {
    color: var(--color-white);
    text-decoration: none;
    outline: transparent;
}

.primary__footer {
    color: var(--color-white)
}


/* Modal-wind */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-white);

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.close__button:hover,
.close__button:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--color-accent);
    outline: transparent;
}

/* Modal-form */
.form {
    padding: 40px 40px;
    color: var(--color-title);
}
.form__title {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form__field {
    display: flex;
    position: relative; 
    flex-direction: column;
    margin-bottom: 10px;
}

.form__field label {
    margin-bottom: 4px;
    text-align: left;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-text);
}

.form__field input {
    height: 40px;
    padding: 11px 12px 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    fill: currentColor;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field input:hover,
.form__field input:focus {
    border: 1px solid var(--color-accent);
    cursor: pointer;
    outline: transparent;
}

.form__field input:hover+.icon__form,
.form__field input:focus+.icon__form {
    fill: var(--color-accent);
}

.icon__form {
    position: absolute;
    bottom: 11px;
    left: 12px;
    z-index: -1;
}

.form__field.comment textarea {
    height: 120px;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.form__field textarea:hover,
.form__field textarea:focus {
    border: 1px solid var(--color-accent);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.policy {
    margin-top: 20px;
    margin-bottom: 30px;
}

.policy label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    color: var(--color-text);

}

.policy__link {
    margin-left: 4px;
    color: var(--color-accent);
    text-decoration:underline;
}

.policy__link:focus {
    margin-left: 4px;
    color: var(--color-accent);
    outline: 1px solid var(--color-icon);
}

.checkbox {
    appearance: none;
    position: absolute;

}

.check__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-width: 2px;
    border-radius: 2px;
    margin-right: 9px;
}

.checkbox:checked+.check__icon {
    background-color: var(--color-accent);
    background-origin: content-box;
    border-color: var(--color-accent);
}
.form__button {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;    
    
    min-width: 200px;
    height: 50px;
 
    color: var(--color-white);
    background: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: currentColor;
    border-style: none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.form__button:hover,
.form__button:focus {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}